<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Include Head -->
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<main>
        <br>
        <br>
        <!------- Formulario ---------->
        <div class="form-container">
        <h2 class="register-title">Formulario de Edicion De Productos</h2>
        <form class="register-form" action="/products" method="POST" enctype="multipart/form-data">				
            <div class="form-div">
                <label for="name" class="form-label">Nombre del producto:</label>
                <input type="text" id="name" name="name" placeholder="Ej: Cordero  Piel de Lobo" class="form-input">
            </div>
            <div class="form-div">
                <label for="bodega" class="form-label">Bodega:</label>
                <input type="bodega" id="bodega" name="bodega" placeholder="Ej: Etchart" class="form-input">
            </div>
            <div class="form-div">
                <label for="varietal" class="form-label">Varietal:</label>
                <input type="text" id="varietal" name="varietal" placeholder="Ej: Tinto" class="form-input">
            </div>
            <div class="form-div">
                <label for="price" class="form-label">Precio del producto:</label>
                <input type="number" id="price" name="price" placeholder="Ej: 1000" class="form-input">
            </div>
            <div class="form-div">
                <label for="discount" class="form-label">Descuento:</label>
                <input type="number" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
            </div>
            <div class="form-div">
                <label for="image" class="form-label">Foto:</label>
                <input type="file" id="image" accept=".png, .jpeg, .jpg" name="image" placeholder="Ingrese una foto"  multiple required class="form-input">
            </div>
            <div class="form-div">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category" class="form-input">
                    <option value="">Elegí</option>
                    <option value="in-sale">En oferta</option>
                    <option value="visited">Últimos visitados</option>
                </select>
            </div>
            <div class="form-div">
                <label for="description" class="form-label">Descripción:</label>
                <textarea name="description" id="description" class="form-input"></textarea>
            </div>
            <div class="form-buttons">
                <button type="submit">Guardar producto</button>
                <button type="reset" class="reset-button">Limpiar</button>
            </div>
    </form>
    <br><br><br>
    </div>
       
        <br>
    </main> 

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>