<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Include Head -->
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<main>
        <br>
        <br>
        <!------- Formulario ---------->
        <div class="form-container">
        <h2 class="register-title">Formulario de Creacion De Productos</h2>
        <form class="register-form" action="/login" method="GET">
            <div class="form-div">
                <label for="nombreProducto" class="form-label">Nombre del Producto</label>
                <input type="text" name="nombreProducto" id="nombreProducto" required>
            </div>
            <div class="form-div">
                <label for="precioProducto" class="form-label">Precio del Producto</label>
                <input type="number" name="precioProducto" required>
            </div>
            <div class="form-div">
                <label for="descuento" class="form-label">Descuento</label>
                <input type="number" name="descuento" id="descuento" required>
            </div>
            <div class="form-div">
                <label for="categoria" class="form-label">Categoria</label>
                <input type="text" name="categoria" id="categoria" required>
            </div>   
            <div class="form-div">
                <label for="domicilio" class="form-label">Descripcion</label>
                <input type="text" name="domicilio" id="domicilio">
            </div>                           
            <div class="form-div">
                <label for="fotoUsuario" class="form-label">Foto de Producto</label>
                <input class="foto" type="file" name="fotoUsuario" id="fotoUsuario" accept=".png, .jpeg, .jpg">
            </div>
            <div class="form-buttons">
                <button type="submit" class="submit-button">Enviar</button>
                <button type="reset" class="reset-button">Limpiar</button>
            </div>       
        </form>

        <br>
        <br>
		<a class='form-buttons' href="/products/edit">Editar producto?</a>
        <br>
    </div>
       
        <br>
    </main> 

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>